<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/import" class="csvform" enctype="multipart/form-data" method="POST">
      <label for="csvfile" class="label-form">Adicione um arquivo CSV</label>
      <input type="file" value="file">
      <button type="submit" class="form_btn">Enviar</button>
    </form>
  </body>
</html>